

body {
  background: linear-gradient(355deg, #86fde8, #acb6e5, #acb6e5);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 0s ease infinite;
  -moz-animation: AnimationName 0s ease infinite;
  animation: AnimationName 0s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 36%}
  50%{background-position:100% 65%}
  100%{background-position:0% 36%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 36%}
  50%{background-position:100% 65%}
  100%{background-position:0% 36%}
}
@keyframes AnimationName {
  0%{background-position:0% 36%}
  50%{background-position:100% 65%}
  100%{background-position:0% 36%}
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* margin-top: 64px; */
}

.dataContainer {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.header {
  text-align: center;
  /* font-size: 24px; */
  font-family: 'Mochiy Pop P One', sans-serif;
  /* font-weight: bold; */
  align-items: center;
  margin: 20px 0 0 0;
}

.head{
  text-align: center;
}

#png {
  width: 100px;
  height: 100px;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.wallet{
  /* shake the button */
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.account {
  text-align: center;
}

.waveButton {
  cursor: pointer;
  margin: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  width: 200px;
}

.spinner {
  cursor: pointer;
  margin: 16px;
  border: 0;
  border-radius: 5px;
}

.waveContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.waveContent {
  margin: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 25px;
  place-items: center;
}

.wave {
  
  width: 400px;
  padding: 10px;
  border: 1px solid #eaeaea;  

  border-radius: 5px;

  background: #FFF3B0; /* fallback for old browsers */
  
}

.wave-address {
  font: 22px "Dongle";
  text-align: center;
  color: black;
}

.wave-message {
  font: 22px "Dongle";
  text-align: center;
  color: black;
}

.wave-timestamp {
  font: 22px "Dongle";
  text-align: center;
  color: black;
}

#input {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  border: 0;
  background-color: transparent;
  font-size: 20px;
  font-weight: 600;
  color : #283618;
  text-align: center;
  outline: none;
}

#input:focus {
  outline: none;
  border-bottom: 0.1px solid black;
}

.txnHash {
  font-size: 14px;
  font-weight: 600;
  color: gray;
  text-align: center;
}

.link,
.link:active,
.link:visited {
  text-decoration: none;
  color: gray;
}
